<div id="<%= dom_id bill %>">
  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Bill type:</strong>
    <%= bill.bill_type %>
  </p>

  <p>
    <strong>Submitted employee:</strong>
    <%= bill.submitted_employee_id %>
  </p>

</div>
